<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.draw2d.test"
   name="Draw2d JUnit Tests"
   version="3.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.draw2d.test.Draw2dTestPlugin">

   <runtime>
      <library name="draw2dtests.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.junit"/>
   </requires>

</plugin>
