<?xml version="1.0"?>

<plugin
   name          = "GEF Documentation"
   id            = "org.eclipse.gef.doc.isv"
   version       = "2.0.0"
   provider-name = "Eclipse.org">

	<requires>
		<import plugin="org.eclipse.gef" version="2.0.0"/>
	</requires>

	<extension point="org.eclipse.help.toc">
    	<toc file="toc.xml" primary="true" />
   	</extension>
   
	<extension point="org.eclipse.help.toc">
    	<toc file="topics_Guide.xml" />
   		<toc file="topics_Reference.xml" />
   	</extension>
   
   <extension point="org.eclipse.ui.views">
		<category 
			id="org.eclipse.gef"
			name="%GEF_Developer_views_category_name">
		</category>

		<view
			id="GEF Debug console"
			name="%GEF_Debug_view_name"
			category="org.eclipse.gef"
			class="org.eclipse.gef.ui.console.DebugGEF"
			icon="icons/debugGEF.gif">
		</view>

		<view
	       id="GEF CommandStack View"
		   name="%GEF_stackviewer_view_name"
		   category="org.eclipse.gef"
		   class="org.eclipse.gef.ui.stackview.CommandStackInspector"
		   icon="icons/debugGEF.gif">
		</view>
	</extension>

</plugin>
