<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.draw2d"
   name="Draw2d"
   version="2.1.0"
   provider-name="Eclipse.org">

   <runtime>
      <library name="runtime/draw2d.jar">
         <export name="org.eclipse.draw2d.*"/>
         <export name="org.eclipse.draw2d.geometry.*"/>
         <export name="org.eclipse.draw2d.parts.*"/>
         <export name="org.eclipse.draw2d.text.*"/>
         <export name="org.eclipse.draw2d.widgets.*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.swt" export="true"/>
   </requires>


</plugin>
