<?xml version="1.0"?>

<plugin
   name = "Draw2d"
   id = "org.eclipse.draw2d"
   version = "2.0.0"
   provider-name="Eclipse.org">

   <requires>
	<import plugin="org.eclipse.swt" export="true"/>
	<import plugin="org.eclipse.ui" export="true"/>
   </requires>

   <runtime>
     <library name="runtime/draw2d.jar">
         <export name="org.eclipse.draw2d.*"/>
         <export name="org.eclipse.draw2d.resource.*"/>
         <export name="org.eclipse.draw2d.parts.*"/>
         <export name="org.eclipse.draw2d.geometry.*"/>
     </library>
   </runtime>

</plugin>
