<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.uvic.cs.zest.sample"
            name="Graphical Views"/>
      <view
            allowMultiple="false"
            category="ca.uvic.cs.zest.sample"
            class="org.eclipse.mylar.zest.tests.SampleView"
            icon="icons/zest.gif"
            id="org.eclipse.mylar.zest.tests.springgraphviewer"
            name="Spring Graph Viewer"/>
      <view
            allowMultiple="false"
            category="ca.uvic.cs.zest.sample"
            class="org.eclipse.mylar.zest.tests.SampleNestedView"
            icon="icons/zest.gif"
            id="org.eclipse.mylar.zest.tests.nestedgraphviewer"
            name="Nested Graph Viewer"/>
      <view
            category="ca.uvic.cs.zest.sample"
            class="org.eclipse.mylar.zest.tests.StaticZestView"
            icon="icons/zest.gif"
            id="org.eclipse.mylar.zest.tests.staticgraphviewer"
            name="Static Graph Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ca.uvic.cs.zest.sample.zestActionSet"
            label="Zest Action Set"
            visible="true">
         <menu
               id="zestMenu"
               label="&amp;Zest Views">
            <separator name="zestGroup"/>
         </menu>
         <action
               class="org.eclipse.mylar.zest.tests.actions.ShowZestViewAction"
               icon="icons/nest.gif"
               id="org.eclipse.mylar.zest.tests.actions.NestedGraphViewerAction"
               label="&amp;Nested Graph Viewer"
               menubarPath="zestMenu/zestGroup"
               toolbarPath="zestGroup"
               tooltip="Show the Nested Graph View"/>
         <action
               class="org.eclipse.mylar.zest.tests.actions.ShowZestViewAction"
               icon="icons/zest.gif"
               id="org.eclipse.mylar.zest.tests.actions.SpingGraphViewerAction"
               label="&amp;Spring Graph Viewer"
               menubarPath="zestMenu/zestGroup"
               style="push"
               toolbarPath="zestGroup"
               tooltip="Show the Spring Graph View"/>
      </actionSet>
   </extension>

</plugin>
