<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="GEF Classic 3.16.0 Base Line Target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/2023-06"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.zest.sdk.feature.group" version="3.16.0.202306071707"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.16.0.202306071707"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.16.0.202306071707"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.16.0.202306071707"/>
<repository location="https://download.eclipse.org/tools/gef/classic/releases/3.16.0"/>
	<unit id="org.eclipse.draw2d.examples" version="3.14.200.202306071707"/>
	<unit id="org.eclipse.draw2d.examples.source" version="3.14.200.202306071707"/>
	<unit id="org.eclipse.draw2d.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.draw2d.source.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.gef.examples.source.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.gef.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.gef.source.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.zest.examples" version="3.15.0.202306071707"/>
	<unit id="org.eclipse.zest.examples.source" version="3.15.0.202306071707"/>
	<unit id="org.eclipse.zest.feature.group" version="3.16.0.202306071707"/>
	<unit id="org.eclipse.zest.source.feature.group" version="3.16.0.202306071707"/>
</location>
</locations>
</target>