<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.gef.examples.flow"
   name="GEF Flow Editor Example"
   version="3.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.gef.examples.flow.FlowPlugin">

   <runtime>
      <library name="flow.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility" optional="true"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="GEF Flow Example"
            extensions="flow"
            icon="view.gif"
            class="org.eclipse.gef.examples.flow.ui.FlowEditor"
            contributorClass="org.eclipse.gef.examples.flow.actions.FlowActionBarContributor"
            id="GEF Flow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Plugin Dependencies"
            icon="view.gif"
            category="org.eclipse.ui"
            class="org.eclipse.gef.examples.pde.PluginDependenciesView"
            id="plugindependencies">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="GEF (Graphical Editing Framework)"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.gef.examples">
      </category>
      <wizard
            name="Flow Diagram"
            icon="view.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gef.examples"
            class="org.eclipse.gef.examples.flow.ui.FlowCreationWizard"
            id="org.eclipse.gef.examples.flow.wizard.new.file">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

</plugin>
