<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.gef"
   name="Graphical Editing Framework"
   version="3.1.0"
   provider-name="Eclipse.org"
   class="org.eclipse.gef.GEFPlugin">

   <runtime>
      <library name="gef.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.gef"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.draw2d" export="true" version="3.1.0"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
   </requires>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            parentId="org.eclipse.ui.contexts.window"
            description="%Context.GraphicalTextEditing.Description"
            name="%Context.GraphicalTextEditing.Name"
            id="org.eclipse.gef.textContext">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%ViewCategory.Label"
            description="%ViewCategory.Label"
            id="org.eclipse.gef.category.view">
      </category>
      <category
            name="%FormatCategory.Label"
            description="%FormatCategory.Label"
            id="org.eclipse.gef.category.format">
      </category>
      <command
            name="%Palette.Label" 
            description="" 
            category="org.eclipse.ui.category.views" 
            id="org.eclipse.gef.ui.palette_view"> 
      </command>

      <command
            name="%ZoomIn.Tooltip"
            description="%ZoomIn.Tooltip"
            category="org.eclipse.gef.category.view"
            id="org.eclipse.gef.zoom_in">
      </command>
      <keyBinding
            string="Ctrl+="
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.gef.zoom_in"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%StyleLeftToRight.Tooltip"
            description="%StyleLeftToRight.Tooltip"
            category="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.ltr">
      </command>
      
      <command
            name="%StyleRightToLeft.Tooltip"
            description="%StyleRightToLeft.Tooltip"
            category="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.rtl">
      </command>
      
      <command
            name="%StyleAlignLeft.Tooltip"
            description="%StyleAlignLeft.Tooltip"
            category="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignLeft">
      </command>

      <command
            name="%StyleAlignCenter.Tooltip"
            description="%StyleAlignCenter.Tooltip"
            category="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignCenter">
      </command>
      
      <command
            name="%StyleAlignRight.Tooltip"
            description="%StyleAlignRight.Tooltip"
            category="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignRight">
      </command>

      <command
			name="%StyleBold.Tooltip"
			description="%StyleBold.Tooltip"
			category="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.bold">
      </command>
      <keyBinding
            contextId="org.eclipse.gef.textContext"
            string="Ctrl+B"
            commandId="org.eclipse.gef.text.bold"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
			name="%StyleItalic.Tooltip"
			description="%StyleItalic.Tooltip"
			category="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.italic">
      </command>
      <keyBinding
            contextId="org.eclipse.gef.textContext"
            string="Ctrl+I"
            commandId="org.eclipse.gef.text.italic"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>

      <command
			name="%StyleUnderline.Tooltip"
			description="%StyleUnderline.Tooltip"
			category="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.underline">
      </command>
      <keyBinding
            contextId="org.ecipse.gef.textContext"
            string="Ctrl+U"
            commandId="org.eclipse.gef.text.underline"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>

      <command
            name="%ZoomOut.Tooltip"
            description="%ZoomOut.Tooltip"
            category="org.eclipse.gef.category.view"
            id="org.eclipse.gef.zoom_out">
      </command>
      <keyBinding
            contextId="org.eclipse.ui.globalScope"
            string="Ctrl+-"
            commandId="org.eclipse.gef.zoom_out"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%Palette.Label"
            icon="icons\palette_view.gif"
            category="org.eclipse.ui"
            class="org.eclipse.gef.ui.views.palette.PaletteView"
            id="org.eclipse.gef.ui.palette_view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.16"
               relative="org.eclipse.ui.editorss"
               visible="false"
               relationship="left"
               id="org.eclipse.gef.ui.palette_view">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
