<?xml version="1.0"?>

<plugin
   name = "Graphical Editor Framework"
   id = "org.eclipse.gef"
   version = "2.0.0"
   provider-name="Eclipse.org">

   <requires>
	<import plugin="org.eclipse.draw2d" version="2.0.0" export="true"/>
	<import plugin="org.eclipse.core.runtime" export="true"/>
	<import plugin="org.eclipse.core.resources" export="true"/>
	<import plugin="org.eclipse.ui" export="true"/>
   </requires>

   <runtime>
     <library name="runtime/gef.jar">
         <export name="org.eclipse.gef.*"/>
         <export name="org.eclipse.gef.dnd.*"/>
         <export name="org.eclipse.gef.commands.*"/>
         <export name="org.eclipse.gef.requests.*"/>
         <export name="org.eclipse.gef.editparts.*"/>
         <export name="org.eclipse.gef.editpolicies.*"/>
         <export name="org.eclipse.gef.handles.*"/>
         <export name="org.eclipse.gef.palette.*"/>
         <export name="org.eclipse.gef.tools.*"/>
         <export name="org.eclipse.gef.ui.actions.*"/>
         <export name="org.eclipse.gef.ui.palette.*"/>
         <export name="org.eclipse.gef.ui.parts.*"/>
         <export name="org.eclipse.gef.ui.properties.*"/>
         <export name="org.eclipse.gef.ui.console.*"/>
         <export name="org.eclipse.gef.ui.stackview.*"/>
     </library>
   </runtime>
</plugin>
