<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef.examples.text.TextEditor"
            icon="text.gif"
            default="true"
            contributorClass="org.eclipse.gef.examples.text.TextActionBarContributor"
            name="Document Editor"
            id="org.eclipse.gef.TextEditor"
            extensions="text">
      </editor>
   </extension>
</plugin>
