<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef.examples.text.TextEditor"
            icon="text.gif"
            default="true"
            contributorClass="org.eclipse.gef.examples.text.actions.TextActionBarContributor"
            name="Document Editor"
            id="org.eclipse.gef.TextEditor"
            extensions="text">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            parentId="org.eclipse.ui.contexts.window"
            description="WYSIWYG Text Editing"
            name="WYSIWYG Text Editing"
            id="org.eclipse.gef.textContext">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Format"
            description="Format"
            id="org.eclipse.gef.category.format">
      </category>

      <command
            name="Left to Right"
            description="Left to Right"
            categoryId="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.ltr">
      </command>
      
      <command
            name="Right to Left"
            description="Right to Left"
            categoryId="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.rtl">
      </command>
      
      <command
            name="Left"
            description="Align left"
            categoryId="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignLeft">
      </command>

      <command
            name="Center"
            description="Align center"
            categoryId="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignCenter">
      </command>
      
      <command
            name="Right"
            description="Align right"
            categoryId="org.eclipse.gef.category.format"
            id="org.eclipse.gef.text.alignRight">
      </command>

      <command
			name="Bold"
			description="Embolden text"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.bold">
      </command>
      
      <command
			name="Italics"
			description="Italicize text"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.italic">
      </command>

      <command
			name="Underline"
			description="Underline text"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.gef.text.underline">
      </command>
   </extension>
   
	<extension point="org.eclipse.ui.bindings">
		<key
			contextId="org.eclipse.gef.textContext"
			sequence="M1+B"
			commandId="org.eclipse.gef.text.bold"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key
			contextId="org.eclipse.gef.textContext"
			sequence="M1+I"
			commandId="org.eclipse.gef.text.italic"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key
			contextId="org.ecipse.gef.textContext"
			sequence="M1+U"
			commandId="org.eclipse.gef.text.underline"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
</plugin>