<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="GEF Classic Development Target Definition" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/staging/2024-09"/>
		<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
	</location>
</locations>
</target>