<?xml version="1.0"?>

<plugin
	name = "Logic GEF Example"
	id = "com.ibm.etools.gef.examples.logicdesigner"
	version = "2.0.0"
	vendor-name = "IBM"
	class="com.ibm.etools.gef.examples.logicdesigner.LogicPlugin">

	<requires>
		<import plugin="com.ibm.etools.gef" version="2.0.0"/>
		<import plugin="org.eclipse.core.resources"/>
	</requires>

	<runtime>
		<library name="runtime/logic.jar"/>
	</runtime>

	<extension point = "org.eclipse.ui.editors">
		<editor
			id = "Logic Graphical Editor"
			name = "%Logic_example_graphical_editor_name"
			icon = "logic.gif"
			extensions = "logic"
			class = "com.ibm.etools.gef.examples.logicdesigner.LogicEditor"
			default = "true"
			contributorClass="com.ibm.etools.gef.examples.logicdesigner.LogicActionBarContributor">
		</editor>
	</extension>

<!--
	attribute from editor TAG above
contributorClass="com.ibm.etools.gef.jface.GEFEditorContextContributor"
-->
 
   <extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id="com.ibm.etools.gef.examples.logic"
	   name="%Logic_example_wizard_creation_name"
	   parentCategory="org.eclipse.ui.Examples">
	</category>
 	<wizard
	   id = "com.ibm.etools.gef.examples.logic.wizard.new.file"
       name = "%Logic_example_wizard_name"
	   availableAsShortcut="true"
	   class="com.ibm.etools.gef.examples.logicdesigner.LogicCreationWizard"
	   category="org.eclipse.ui.Examples/com.ibm.etools.gef.examples.logic"
	   icon="logic.gif">
    	   <description>%Logic_example_wizard_description</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
   </extension>

</plugin>