<?xml version="1.0"?>

<plugin
	name = "Logic GEF Example"
	id = "org.eclipse.gef.examples.logicdesigner"
	version = "2.0.0"
	provider-name="Eclipse.org"
	class="org.eclipse.gef.examples.logicdesigner.LogicPlugin">

	<requires>
		<import plugin="org.eclipse.gef" version="2.0.0"/>
		<import plugin="org.eclipse.core.resources"/>
	</requires>

	<runtime>
		<library name="runtime/logic.jar"/>
	</runtime>

	<extension point = "org.eclipse.ui.editors">
		<editor
			id = "Logic Graphical Editor"
			name = "%Logic_example_graphical_editor_name"
			icon = "logic.gif"
			extensions = "logic"
			class = "org.eclipse.gef.examples.logicdesigner.LogicEditor"
			default = "true"
			contributorClass="org.eclipse.gef.examples.logicdesigner.LogicActionBarContributor">
		</editor>
	</extension>

	<extension point = "org.eclipse.ui.newWizards">
		<category
			id="org.eclipse.gef.examples"
			name="%GEF_example_wizard_category_name"
			parentCategory="org.eclipse.ui.Examples">
		</category>
		<wizard
			id = "org.eclipse.gef.examples.logic.wizard.new.file"
			name = "%Logic_example_wizard_name"
			availableAsShortcut="true"
			class="org.eclipse.gef.examples.logicdesigner.LogicCreationWizard"
			category="org.eclipse.ui.Examples/org.eclipse.gef.examples"
			icon="logic.gif">
				<description>%Logic_example_wizard_description</description>
				<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>

</plugin>